<h1>Control Panel</h1>

<form>
<!--action attribute sets the page loaded after submitting form-->
<!--default reloads the same page-->
    <label for="motor-speed">Motor Speed (integer 20-90)</label><br>
        <input type="number" id="motor-speed" name="motor speed"><br>   
    <label for="duration">*Move Duration (integer seconds)</label><br>
        <input type="number" id="duration" name="duration" required><br>
    <label>*Direction:</label><br>
        <input type="radio" id= "right" name="direction" value="right" required>
    <label for="right">Right</label><br>
        <input type="radio" id= "left" name="direction" value="left" required>
    <label for="left">Left</label><br>
        <input type="submit" value="Move Now">
</form>
